.gradient__bg{
    min-height: 100vh;
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 3% 25%, rgba(15, 29, 92, 1) 0%, rgba(0, 0, 0, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(15, 29, 92, 1) 0%, rgba(0, 0, 0, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(15, 29, 92, 1) 0%, rgba(0, 0, 0, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(15, 29, 92, 1) 0%, rgba(0, 0, 0, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(15, 29, 92, 1) 0%, rgba(0, 0, 0, 1) 100%);

}

.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gpt3__header{
    display: flex;
    padding: 0rem 6rem;
}

.gpt3__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.gpt3__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 90px;
}

.gpt3__header-content p{
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    color: #81AFFD;
    margin-top: 1.5rem;
}

.gpt3__header-content__input{
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.gpt3__header-content__input input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    background: var(--color-footer);
    border-radius: 5px 0 0 5px;
    border: 2px solid var(--color-footer);
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
}

.gpt3__header-content__input button{
    flex: 0.4;
    width: 100%;
    min-height: 50px;
    font-size: 20px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 600;
    color: #ffffff;
    line-height: 27px;
    outline: none;
    background: rgb(220, 67, 16);
    border-radius: 5px;
    padding: 0 1rem;
    border: none;
}

.gpt3__header-content__people{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.gpt3__header-content__people img{
    width: 181px;
    height: 38px;
}

.gpt3__header-content__people p{
    font-family: var(--font-family);
    font-size: 15px;
    color: #ffffff;
    margin: 0 0 0 1rem;
    line-height: 38px;
    text-align: center;
}

.gpt3__header-img{
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpt3__header-img img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px) {
    .gpt3__header{
        flex-direction: column;
    }
    .gpt3__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt3__header{
        padding: 4rem;
    }
    .gpt3__header h1{
        font-size: 48px;
        line-height: 60px;
    }
    .gpt3__header p{
        font-size: 16px;
        line-height: 24px;
    }
    .gpt3__header-content {
        margin: 0 0 3rem;
    }
    .gpt3__header-content__people{
        flex-direction: column;
        margin: 1.5rem 0;
    }
    .gpt3__header-content__people p{
        margin-top: 1rem;
        font-size: 15px;
    }
    .gpt3__header-content__input button,
    .gpt3__header-content__input input{
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__header{
        padding: 2rem;      
    }

    .gpt3__header h1{
        font-size: 36px;
        line-height: 40px;
    }
    .gpt3__header p{
        font-size: 14px;
        line-height: 18px;
    }
    .gpt3__header-content__input button,
    .gpt3__header-content__input input{
        font-size: 12px;
        line-height: 18px;
    }
    .gpt3__header-content__people p{
        margin-top: 1rem;
        font-size: 15px;
    }
}