.chat-app {
    display: grid;
    grid-template-columns: auto 200px;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
  }
  
  .Column {
    color: white;
  }
  
  .Title {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: black;
    background-color: rgb(218, 255, 170);
  }
  
  .Content {
    height: calc(100vh - 200px);
    overflow-y: scroll;
    margin-bottom: 20px;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  