@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
  }

  body {
    background: #28282B;
  }
  .btn {
    padding: 7px 20px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .white-btn {
    background: #fff;
    color: #111;
  }
.purple-btn {
    background: #9083d5;
    color: #fff;
  }
  p,
  span,
  a {
    font-size: 20px;
  }
  h1 {
    font-size: 36px;
    font-weight: 900;
  }
  h1 {
    font-size: 36px;
    font-weight: 900;
  }
  h2 {
    font-size: 32px;
    font-weight: 900;
  }
  h3 {
    font-size: 28px;
    font-weight: 900;
  }
  h4 {
    font-size: 24px;
    font-weight: 900;
  }
  h5,
  h6 {
    font-size: 24px;
    font-weight: 700;
  }
  @media (max-width: 1186px) {
    h1 {
      font-size: 32px;
      font-weight: 900;
    }
    h2 {
      font-size: 30px;
      font-weight: 900;
    }
  }

.container {
    padding: 0 100px;
  }
  @media (max-width: 700px) {
    .container {
      padding: 0 20px;
    }
  }
.animated-image {
    animation: moveUpDown 1s infinite alternate ease-in-out;
  }
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(20px);
    }
  }
  @media (max-width: 1186px) {
    .hero .banner span {
      right: -400px;
    }
    .hero .banner h1 {
      font-size: 32px;
    }
  }
  @media (max-width: 1085px) {
    .hero .banner span {
      right: -480px;
      top: -315px;
    }
  }
  @media (max-width: 925px) {
    .hero {
      flex-direction: column;
    }
    @media (max-width: 700px) {
      .hero {
        padding-bottom: 40px;
      }
    }
  }
.form-component {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .form-component h2 {
    color: gray;
    letter-spacing: 4px;
    margin-bottom: 30px;
  }
  .form-component h4 {
    color: gray;
    font-weight: 700;
    margin-bottom: 20px;
  }
.form-component p {
    max-width: 750px;
    color: gray;
    margin-bottom: 20px;
  }
  .form-component form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .form-component form div {
    display: flex;
    gap: 30px;
  }
.form-component form input,
.form-component form select,
.form-component form textarea {
  flex: 1;
  font-size: 24px;
  padding: 10px 10px 10px 40px;
  border-radius: 7px;
  border: 1px solid gray;
}
.form-component button {
  padding: 10px 35px;
  color: #fff;
  font-weight: 700;
  width: fit-content;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  margin-bottom: 30px;
  background: linear-gradient(140deg, #9083d5, #271776ca);
}
.form-component .wrapper {
    display: flex;
    gap: 50px;
  }
  .form-component .wrapper .banner {
    flex: 1;
  }
  .form-component .wrapper .banner:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-component .wrapper .banner:last-child img {
    max-width: 450px;
  }
  .login-form {
    margin: 100px auto 20px auto;
    max-width: 800px;
    text-align: center;
  }
  .login-form h2 {
    color: #000;
  }
  .register-form {
    max-width: 1200px;
    margin: 100px auto 20px auto;
  }
 .register-form h2 {
    color: #000;
  }
  @media (max-width: 1110px) {
    .appointment-form form div:nth-child(4) {
      flex-direction: column;
    }
    .appointment-form form div:nth-child(5) {
      flex-direction: column;
    }
  }
  @media (max-width: 888px) {
    .form-component {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .form-component form div {
      flex-direction: column;
    }
  }
  @media (max-width: 667px) {
    .form-component form input,
    .form-component form select,
    .form-component form textarea {
        font-size: 20px;
        padding: 10px;
      }
    }